ion-avatar{
    margin: 1rem auto;
    width: 10rem;
    height: 10rem;
    background-color: rgb(245, 244, 244);
    cursor: pointer;
}
ion-icon{
    color: black;
}
ion-title{
    color:white;
}

ion-button {
    --background:#C4C4C4;
    --border-color:#C4C4C4;
    color: black
}
.test{
    position:relative;
}
.edit{
    position: absolute;
    padding-left: 120px;
    top:8.2rem;
}
.edit ion-icon{
    width: 1.5rem;
    height: 1.5rem;
    background-color:white;
    border-radius: 20px;
    padding: 5px;
}
ion-img{
    width: 3rem;
    height: 3rem;
    margin: auto;
}

.profile{
    margin: 1rem 5rem 1rem 5rem;
}

.label-btn{
    font-weight: 550;
    text-transform: capitalize;
}
.icon-btn{
    color:black;
}

.title{
    text-align: center;
}
.subtitle{
    text-align: center;
    margin: auto;
}
.btn-section ion-grid ion-row ion-button{
    margin: 0.25rem auto 1rem;
}
@media only screen and (max-width: 600px) {
    .profile{
        margin: 1rem 1rem 1rem 1rem;
    }
}
