<ion-content>
  <ion-avatar>
    <img src="../assets/img/logo.png" />
  </ion-avatar>

  <form  [formGroup]="formSignIn" (ngSubmit)="submitForm()">
    <ion-grid>
<!--      <ion-item color="success" class="ion-margin-bottom" *ngIf="verification_message">-->
<!--        <ion-label class="ion-text-wrap">{{verification_message}}</ion-label>-->
<!--      </ion-item>-->
      <ion-item>
        <ion-label class="biru" position="floating">Email</ion-label>
        <ion-input type="email" email formControlName="email" ></ion-input>
        <ion-icon name="mail"color="primary" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label class="biru" position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <ion-icon name="lock-closed" color="primary" slot="end"></ion-icon>
      </ion-item>
    </ion-grid>
    <ion-row>
      <ion-button type="submit" shape="round">
        <ion-label>Login</ion-label>
      </ion-button>
    </ion-row>
      

  </form>

<!--  <div class="subtitle-regist">-->
<!--    Haven't got Account ?-->
<!--    <ion-text style="color: black" routerLink="/register">-->
<!--      <a>Sign Up</a>-->
<!--    </ion-text>-->
<!--  </div>-->
</ion-content>
