.judul{
  padding-top: 20%;
  padding-left: 17%;
  font-size: 40px;
}
.biru{
  color: #7296C8;
}
@media only screen and (max-width: 600px) {
  form{
    padding: 1rem;
  }
}
form{
  padding: 1rem 2rem 3rem 2rem;
}
.btn-register{
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
}